<style>
.version{
  float:left;
  padding:5px;
  border:1px solid #ddd;
  border-left:none;
}
.os, .browser{
  clear:both;
}
</style>
<script src="/ext/strider-browserstack/browserstack_config.js"> </script> 
<div id="browserstack_config" class="tab-pane widget">
  <div class="row-fluid">
    <div class="span10">
      <h3>BrowserStack Settings</h3>
      <p></p>
      <hr/>
      <form class="well">
        <fieldset>
          <legend>BrowserStack Credentials</legend>
          <div class="alert alert-success hide"></div>
          <div class="row details">
            <div class="span8">
              <div class="control-group">
                <div class="controls">
                  <label>API Key
                    <input size="25" type="text" name="browserstack_api_key" placeholder="browserstack API key" class="browserstack-api-key xlarge"/>
                  </label>
                  <label>Username
                    <input size="25" type="text" name="browserstack_username" placeholder="browserstack username" class="browserstack-username xlarge"/>
                  </label>
                  <label>Password
                    <input size="25" type="text" name="browserstack_password" placeholder="browserstack password" class="browserstack-password xlarge"/>
                  </label>
                  <a id="browserstack-save" class="btn btn-primary btn-save-browserstack">Save</a>
                </div>
              </div>
            </div>
          </div>
        </fieldset>
      </form>
      

      <div class='well'>
        <div id = "browsers">Loading...</div>
        <br style='clear:both;' />
        <a id="browserstack-save" class="btn btn-primary btn-save-browserstack">Save</a>
      </div>
    </div>
  </div>
</div>
<script>
</script>
